
{% if project.start_date and project.end_date %}
<p class="vevent">
    Duration
    <abbr class="dtstart" title="{{project.start_date}}">{{project.start_date|date:"m/d/y" }}</abbr>&ndash;
    <abbr class="dtend" title="{{project.start_date}}">{{project.end_date_date|date:"m/d/y" }}</abbr>
</p>
{% else %}
   <p class="vevent">
   Duration
   {% if project.start_date %}
    <abbr class="dtstart" title="{{project.start_date}}">{{project.start_date|date:"m/d/y" }}</abbr>&ndash;
    <abbr class="dtend" title="{{project.start_date}}">Present</abbr>
   {% endif %}
  </p>
{% endif %}
