{% load portfolio %}
{% load markup %}
{% load thumbnail %}

<div id="project">

  <h2>
      <a href="{% if project.url %}{{ project.url }}{% else %}#{% endif %}">
      {{ project.title}}</a>
  </h2>
  {% include "portfolio/dates_fragment.html" %}
  <p>
    {% for feature in project.features.all %}
      <span class="white label"><a href="{% url feature_detail feature.slug %}">{{ feature}}</a></span>
    {% endfor %}
  </p>



   {% with project.images.all as images %}
  {% if images %}
     <div id="slides"> 
    {% for i in images %}
	   <img src="{{i.image_path.url}}" alt="{{i.caption}}" data-caption="#{{i.slug}}">
	{% endfor %}
	{% for i in images %}
	   <span class="orbit-caption" id="{{i.slug}}">{{i.caption}}</span>
	{% endfor %}
    </div>
  {% endif %}
  {% endwith %}

  


  <div id="description">
  {{ project.description|markdown|safe}}
  </div>

  {% with project.files.all as files %}
  {% if files %}
  <ol id="files">
    {% for file in files %}
    <li><a href="{{ file.file.url }}">{{ file.file.name|split:"/"|last }}</a></li>
    {% endfor %}
  </ol>
  {% endif %}
  {% endwith %}

 
</div>
<script type="text/javascript">
     $(window).load(function() {
         $('#slides').orbit();
     });
</script>


