*.pyc
*~
example_project/*.sqlite
example_project/media/project_file/*
example_project/media/project_image/*
jquery_project/*.sqlite
jquery_project/media/project_file/*
jquery_project/media/project_image/*


*.bak

django_portfolio.egg-info/PKG-INFO
django_portfolio.egg-info/SOURCES.txt
django_portfolio.egg-info/dependency_links.txt
django_portfolio.egg-info/not-zip-safe
django_portfolio.egg-info/requires.txt
django_portfolio.egg-info/top_level.txt
